---
const { image, title, description } = Astro.props;
import { Image } from "astro:assets";
---

<div>
  <!-- need to make image responsive  -->
  <Image src={image} alt="image" class="img" />
  <h4>{title}</h4>
  <p>{description}</p>
</div>

<style>
  div {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding: 3rem 2.75rem;
    border: 1px solid #bababa;
    text-align: left;
  }
  h4,
  p {
    color: #1b1b1c;
    font-family: "General Sans", serif;
    font-style: normal;
  }
  h4 {
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: 1.7rem;
    line-height: 120%;
    letter-spacing: 0.0075rem;
  }

  p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 160%;
  }

  .img {
    max-width: 410px;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    div {
      gap: 0;
      padding: 1.75rem;
      text-align: left;
    }

    h4 {
      margin-top: 1.25rem;
      font-size: 1.25rem;
      line-height: 180%;
      letter-spacing: 0.00625rem;
    }

    p {
      font-size: 1rem;
      line-height: 160%;
    }

    .img {
      max-width: 60vw;
      align-self: center;
    }
  }
</style>
