---
import logo from "../assets/logo.png";
---

<footer>
  <img src={logo.src} alt="logo" height={310} class="img" />
  <div id="sub-info">
    <h5>Address:</h5>
    <p>
      Boudha, Tushal<br />
      Kathmandu, Nepal
    </p>
    <h5><br />Contact:</h5>
    <p class="sub-heading">Office :</p>
    <p>(+9771) 457 0360 (Nepal)</p>
    <p class="sub-heading">
      For Sales :<p></p>
      <p>
        (+977) 9818167893 (Nepal)<br />
        (+1) 510 588 0895 (USA)
      </p>
      <p class="sub-heading">
        <br />All Sales:<p></p>
        <p><span class="sub-heading">Email:</span> mingur@mechicarpet.com</p>
      </p>
    </p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/product">Product</a></li>
    <li><a href="/process">Process</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div id="credits">
    <p>© 2025 Mechi Surshar Carpets. <br />All right reserved.</p>
    <p>
      <br />Designed by
      <a
        href="https://www.instagram.com/the.doodle.studio?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        style="font-weight: 400;"
      >
        The Doodle Studio
      </a>
    </p>
  </div>
</footer>

<style>
  footer {
    background: #fffdfd;
    display: flex;
    justify-content: space-evenly;
    padding: 6rem 4rem 6rem 1rem;
    gap: 2rem;
    font-family: "General Sans", sans-serif;
    color: #1b1b1c;
    flex-wrap: wrap;
  }
  #sub-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 16rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
    max-width: 12.5rem;
  }
  li {
    list-style: none;
  }
  h5 {
    color: #1b1b1c;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.5rem */
    letter-spacing: -0.02rem;
  }
  a,
  p {
    text-decoration: none;
    color: #1b1b1c;
    font-size: 0.95rem;
    font-style: normal;
    line-height: 180%;
    letter-spacing: 0.00438rem;
  }
  p {
    font-weight: 400;
  }
  a,
  .sub-heading {
    font-weight: 600;
  }
  #credits {
    min-width: 14rem;
  }
  .img {
    margin-left: -50px;
    margin-right: -50px;
    align-self: center;
  }
  a:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    footer {
      padding: 3rem 2.25rem;
      flex-direction: column;
    }

    .img {
      margin-left: -30px;
      margin-right: -30px;
      width: 180px;
      height: auto;
      align-self: flex-start;
    }

    ul {
      flex-direction: row;
    }
  }
</style>
